<html>
    <head>
        <script 
            src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous">
        </script>
    </head>
    <body>
        <button 
        hx-get="/time"
        hx-trigger="click"
        hx-target="#firstId"
        >
            Try this for the time
        </button>
        <form hx-put="/contact/1" hx-target="this" hx-swap="outerHTML">
           
          </form>
        <div id="firstId">Click button for TIME info</div>

        <button 
        hx-get="/#compName"
        hx-trigger="click"
        hx-target="#compName"
        >
        </button>

        <!-- //this is the line that works!!!: -->
        <form hx-post='/name' hx-target="this" hx-swap="outerHTML">

        <form id="#compName" hx-target="this" hx-swap="outerHTML">Please enter your name:
            <label for="fname"></label>       
            <input type="text" name="fname" value="">
            <label for="lname"></label>
            <input type="text" name="lname" value="">
        
            <button class='btn'>format name</button>
        </form>
        <div id="#compName">Click button to format name</div>
        
        <form hx-post='/cite_style' hx-target="this" hx-swap="outerHTML">
        
        <form id="cite_select" hx-target="this" hx-swap="outerHTML">Please enter your name:
            <br>
            <input type="radio" name="options" id="MLA" value="option1"> MLA </input><br>
            <input type="radio" name="options" id="APA" value="option2"> APA </input><br>
            <input type="radio" name="options" id="Chicago" value="option3"> Chicago </input><br>
            <input type="radio" name="options" id="inline" value="option4">Inline
            </input><br>
            <label for="fname"></label>       
            <input type="text" name="fname" value="">
            <label for="lname"></label>
            <input type="text" name="lname" value="">
            <label for="title"></label>       
            <input type="text" name="title" value="">
            <label for="date"></label>
            <input type="text" name="date" value="">

            <button class='btn'>format citation</button>
        </form>
    </body>
</html>